<html>
<head>
<title>Second Brain</title>
<link rel="stylesheet" type="text/css" href="static/styles/main.css">
</head>

<body>
{{!menu}}
<p>Welcome to your second brain.</p>
<p>Using brain from: {{xmlFileName}}</p>
<p>Total Chunks: {{totalChunks}}</p>
<body>

</html>