<html>
<head>
<title>Second Brain:Search</title>
<link rel="stylesheet" type="text/css" href="static/styles/main.css">
</head>

<body>
{{!menu}}

	<div id="chunkSummary">
		<form id="search" action="/search">
			<input type="text" name="query" style="width:80%">
			<br>
			<input type="submit" value="Search">
		</form>
	</div>
<p>{{numberOfResults}}</p>
{{!results}}

<body>

</html>