<div id='chunkSummary'>
	<p><h1>{{chunk.chunk.name}}({{chunk.chunkid}})</h1><a href="/static/app.html#/viewMindMap/{{chunk.chunkid}}">View mind map</a>
	<p>Date:blah</br>
	 Subjects:n/a{{chunk.chunk.subjects}}</br>
	CHILDREN</br>

	<p>{{chunk.chunk.content}}</p>
</div>
