<div id="chunkSummary" ng-repeat="chunk in ChunkSummaries.chunks">
	<h2><a href="/static/app.html#/openchunk/{{chunk.id }}"> {{chunk.name}} ( {{chunk.id}} + )</a></h2>
	<p>Date:</p>
	<p>Subjects: {{ chunk.subjects }} </p>
</div>