
body
{
	margin: 0;
	padding : 0;
	background-image:url("/static/brain.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#menu
{
	text-align: center;
	background-color:darkred;
	border-bottom: 1px solid black;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom:2%;
}

#menu ul
{

    margin: 0;
    padding: 0;
}

#menu a
{
	color: white;
	text-align: center;
}

#menu li
{

	display: inline-block;
	margin-right: 10px;
}
#chunkHolder
{
	border: 0px solid black;

	border-radius: 10px;	
	text-align:center;
}
#chunkSummary
{

	background-color: rgba(247,180,143,0.6);
	border-radius: 0px;
	border-bottom: 1px dashed black;
	border: 1px dashed black;
	margin-bottom:1%;
	border-radius:50px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 2%;
	padding-left:1%;
}

#chunkSummary a
{
	color: darkblue;
}

#childSummary
{
	margin-left:10%;
	margin-right:10%;
	margin-bottom:5%;
	border: 2px solid black;


}


#search
{
	padding-top:10px;
	text-align: center;

}